/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h3, h4, h5 {
	color: #8382BF;
}





.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

#logo {
     float: left;
     text-align: left;
     font-size: 8vw;
     font-family: 'Montserrat', sans-serif;
     padding-top: 15px;
     margin: 0px;
     color: white;
}
#b{
   padding-right: 8px;  
   padding-bottom: 8px;
}
h3 #b{
     max-width: 45px;
     width: 100%;
}



.empty {
     padding-top:40px;
}

hr {
     height: 0.5px;
     color:orangered;
     background-color: orangered;
     margin: 5px;
     
     padding-bottom: 2px;

}
.top{
     position: static;
     background-color:  #de9297;
     text-shadow: 1px 1px 6px black;
}
.top 
.container{
     display: flex;
     flex-direction: row;
     text-align: right;
     position: static;
     padding-bottom: 10px;
}
.container h2{
     top: 10px;
}
h2 #b{
     width: 100%;
     max-width: 40px;
     
}

.playButton {
     height: 40px;
     width: 40px;
}


.facebookLogin{
     display: inline-block; 
     height: 30px; 
     overflow: hidden; 
     position: absolute; 
     top: 25px; 
     right: 50px;
     width: 25px;
}

.profilePhoto{
     position: absolute;
     width: 100%;
     max-width: 30px;
     right: 10px;
     top: 20px;
     -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
     filter: url(#drop-shadow);
     -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
     filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
     
}
.nameTest{
     position:absolute;
     top:0px;
     right: 10px;
     color: wheat;
}
.img-rounded{
     width: 100%;
     border-radius: 0%;
}

#play {
     background: none;
     border: none;
     cursor: pointer;
     height: 40px;
     outline: none;
     padding: 1;
     width: 40px;
     background-image: url(../img/play1.svg);
}

#pause {
     background: none;
     border: none;
     cursor: pointer;
     height: 40px;
     outline: none;
     padding: 1;
     width: 40px;
     background-image: url(../img/pause1.svg);
}

#stop {
     background: none;
     border: none;
     cursor: pointer;
     height: 40px;
     outline: none;
     padding: 1;
     width: 40px;
     background-image: url(../img/stop1.svg);
}
.reloading{
     text-align: center;
     padding-top: 10px;
}
.friend{
     border: 2px gray;
     border-style: groove;
     background-color: #f5f5f5;
     font-family: 'Montserrat';
}
.friend_b h3{
     font-family: 'Montserrat';
     color: black;
     font-size: 7vw;
     
}
.friend_b p{
     color: #6e6e6e;
     font-size: 3vw;
}

#backButt{
     position:absolute;
     color: white;
     max-width: 30px;
     width:100%;
     height: 30px;
     right:10px;
     margin-top: 12px;
}
.ingHead{
     background-color: #de9297;
     color:lightgrey;
}
.ingHead h1{
     color:white;
     font-family: 'Montserrat';
     font-weight: bold;
}
.ingHead p{
     margin: 0px;
}
#projPic{
     width: 411px;
     height: 300px;
}
#ingTitle{
     padding-top: 20px;
     font-family: 'Montserrat';
     font-size: 30px;
     text-decoration: underline;
     color: black;
}
.recBody{
     font-size: 15px;
}
.imgDiv{
     padding-bottom: 10px;
}
.addHead{
     background-color: #de9297;
     padding-top: 5px;
     text-align: center;
     padding-bottom: 1px;
}
.addHead h3{
     color: white;
     font-family: 'Montserrat';
     font-size: 35px;
}
.addHead img{
     position: absolute;
     left: 50px;
}
.form-group{
     font-family: 'Montserrat';
}
.addRec{
     right: 10px;
}
.recContainer{
     position: relative;
     background-color:black;
}
.addHead #backButt{
     top: 0px
}