/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h3, h4, h5 {
	color: #8382BF;
}

img {
	width: 200px;
}



.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

#logo {
     float: left;
     text-align: left;
     font-size: 32px;
     font-family: 'Montserrat', sans-serif;
     padding-top: 25px;
     margin: 0px;
     color: white;
}
#b{
     width: 40px;
     float: left;
     
}


.button{
     border-radius:10px;
     padding-top:10px;
     margin-bottom:5px;
     background-color: orangered;
     border:none;
     color: black;
     
}
.empty {
     padding-top:40px;
}

hr {
     height: 0.5px;
     color:orangered;
     background-color: orangered;
     margin: 5px;
     
     padding-bottom: 2px;

}
.top{
     background-color: black;
}
.container{
     display: flex;
     flex-direction: row;
     text-align: right;
     position: relative;
}


.playButton {
     height: 40px;
     width: 40px;
}

h2 .test{
     float: left;
     padding-right: 0px;
}
.facebookLogin{
    position: absolute;
    top: -20px;
    left: 300px;
}
.profilePhoto{
     position: absolute;
     height: 40px;
     width: 40px;
     left: 366px;
     top: 30px
}
.nameTest{
     position:absolute;
     top:10px;
     right: 10px;
     color: wheat;
}

#play {
     background: none;
     border: none;
     cursor: pointer;
     height: 48px;
     outline: none;
     padding: 1;
     width: 48px;
     background-image: url(../img/play1.svg);
}

#pause {
     background: none;
     border: none;
     cursor: pointer;
     height: 48px;
     outline: none;
     padding: 1;
     width: 48px;
     background-image: url(../img/pause1.svg);
}

#stop {
     background: none;
     border: none;
     cursor: pointer;
     height: 48px;
     outline: none;
     padding: 1;
     width: 48px;
     background-image: url(../img/stop1.svg);
}
.reloading{
     text-align: center;
     padding-top: 10px;
}
.friend{
     border: 2px gray;
     border-style: groove;
     background-color: #f5f5f5;
}
