/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h3, h4, h5 {
	color: #8382BF;
}

img {
	width: 200px;
}



.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

#b {
     text-align: center;
     width: 40px;
}

h1.navbar-brand{
     font-size: x-large;
     text-align: left;
     float: left;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
}
.navbar{
     height: 40px;
}
.button{
     border-radius:10px;
     padding-top:10px;
     margin-bottom:5px;
     background-color: orangered;
     border:none;
     color: black;
     
}
.empty {
     padding-top:40px;
}

hr {
     
     height: 0.5px;
     color: gray;
     background-color: gray;
     margin: 5px;
     padding-bottom: 5px;

}
.container{
     display: flex;
     flex-direction: row;
     text-align: right;
}

.containerTwo {

}

.playButton {
     height: 40px;
     width: 40px;
}

h2 .test{
     float: left;
     padding-right: 20px;
}
.facebookLogin{
     padding-top: 25px;
}
.profilePhoto{
     height: 40px;
     width: 40px;
     border:none;
     margin-left: 8px;
     margin-top: 20px;
}


#play {
     background: none;
     border: none;
     cursor: pointer;
     height: 48px;
     outline: none;
     padding: 1;
     width: 48px;
     background-image: url(../img/play1.svg);
}

#pause {
     background: none;
     border: none;
     cursor: pointer;
     height: 48px;
     outline: none;
     padding: 1;
     width: 48px;
     background-image: url(../img/pause1.svg);
}

#stop {
     background: none;
     border: none;
     cursor: pointer;
     height: 48px;
     outline: none;
     padding: 1;
     width: 48px;
     background-image: url(../img/stop1.svg);
}